@font-face {
  font-family: "Brandon-Black";
  src: url('/fonts/Brandon_blk.otf');
}
@font-face {
  font-family: "Brandon-Reg";
  src: url('/fonts/Brandon_reg.otf');
}
@font-face {
  font-family: "Brandon-Thin";
  src: url('/fonts/Brandon_thin.otf');
}

body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial,
    'Lucida Grande', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-image: url('/img/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: #1d0000;
  min-height: 100vh;
  background-size: auto;
  color: #561717;
}

a {
  text-decoration: none;
  font-weight: bold;
}

h1 {
  font-family: "Brandon-Reg";
  font-size: 6rem;
  color: white;
  padding: 30px;
}

img {
  max-width: 100%;
}

nav {
  width: 100%;
}

nav a {
  color: white;
  padding: 1rem;
  display: inline-block;
}

.content {
  padding: 1rem;
}

/*navigation*/

.nav-item {
  margin: 0 10px;
  border-bottom: 1px solid white;
  align-self: center;
  width: 200px;
}

.nav-link {
  font-family: "Brandon-Thin";
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: .4rem;
  transition: all .2s ease-in-out;
}
.nav-link:hover {
  color: #561717;
  letter-spacing: .6rem;
  transition: all .2s ease-in-out;
}
.nav-link.active {
  color: #954D4D;
  letter-spacing: .6rem;
  transition: all .2s ease-in-out;
}

.nav-img img {
  height: 200px;
}

.mobile-only {
  display: none;
}

/*Hexagon*/

.hex-grid {
  text-align: center;
  margin: 55px auto;
  padding-top: 2px;
}
.hex {
  position:relative;
  max-width:100%;
  width:190px;
  display:inline-block;
  vertical-align:middle;
  margin: 37px 10px;
  z-index:10;

  transition: all .2s ease-in-out;
}
.hex:hover {
  transform: scale(1.1);
  z-index: 99;

  transition: all .2s ease-in-out;
}
.hex-left:before,
.hex-right:before {
  height:220px;
  width:220px;
}
.hex-left:before {
  transform:rotate(-60deg) translate(-110px,0);
}
.hex-right:before {
  transform:rotate(60deg) translate(40px,40px);
}
.hex-image {
  height:110px;
  background-repeat:no-repeat;
  background-position:50% 50%;
  background-size:auto 260px;
  display:block;
}
.hex-image:hover {
  cursor: pointer;
}
.hex-left,
.hex-right {
  position:absolute;
  height:100%;
  width:100%;
  z-index:-2;
  top:0;
  left:0;
  overflow:hidden;
  background:inherit;
}
.hex-left:before,
.hex-right:before {
  content:'';
  position:absolute;
  background:inherit;
  left:0;
}
.hex-left {
  z-index:-1;
  transform:rotate(60deg);
}
.hex-left:before {
  transform-origin:0 0;
}
.hex-right {
  transform:rotate(-60deg);
}
.hex-right:before {
  bottom:0;
}

/*carousel*/

.carousel-image {
  height: 600px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.modal-content {
  background: transparent;
}
.modal-body {
  padding: 0;
}

@media (max-width: 992px) {
  h1 {
    font-size: 3rem;
  }
  .mobile-only {
    display: block;
  }
  .nav-item {
    margin-right: auto;
    border-bottom: none;
    align-self: center;
    width: auto;
    text-align: left;
  }
  .nav-img {
    display: none;
  }
  .hex-grid {
    margin: 0;
  }
  .hex {
    width: 100%;
    margin: 10px 0;
  }
  .hex-image {
    height: 200px;
    background-size: cover;
  }
  .hex-left {
    display: none;
  }
  .hex-right {
    display: none;
  }
}

.clearfix:after {
  content:"";
  display:table;
  clear:both;
}